/* Variáveis */
$primary-font: Helvetica, sans-serif;
$c-button-color: #FF3077;
$numbers-color: #fff;
$keys-color: #0C2835;
$operation-colors: #0F8B8D;
$eq-color: #166d00;
$border-color: #000;


/* Calculadora */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font: $primary-font;
}

h1 {
    text-align: center;
}

.calc {
    width: 500px;
    margin: 25px auto;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calc__input {
    width: 490px;
    height: 50px;
    display: block;
    margin: 0 auto;
    font-size: 30px;
    border-radius: 5px;
    text-align: right;
    caret-color: transparent;
}

.calc__firstgroup {
    display: flex;
    padding: 2px;
}

.calc__clear {
    width: 50%;
    height: 65px;
    background-color: $c-button-color;
    color: $numbers-color;
    cursor: pointer;
    border-radius: 5px;
    caret-color: transparent;
    margin: 0.6px;
}

.calc__group-numbers {
    display: flex;
    padding: 2px;
    padding-top: 0;
}

.calc__numbers {
    width: 25%;
    height: 65px;
    color: $numbers-color;
    background-color: $keys-color;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    caret-color: transparent;
    margin: 0.6px;
}

.calc__operations {
    width: 25%;
    cursor: pointer;
    background-color: $operation-colors;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    caret-color: transparent;
}

.calc__eq {
    background-color: $eq-color;
    width: 50%;
    color: $numbers-color;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    caret-color: transparent;
    margin: 0.6px;
}

footer {
    max-width: 720px;
    margin: 0 auto;
}

hr {
    width: 150px;
}

p {
    font-size: 1.2rem;
    text-align: center;
    margin: 5px;
}

.footer__icon {
    text-align: center;
}

.footer__icon i {
    font-size: 2rem;
}

