@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

/* Variáveis */
$primary-font: Helvetica, sans-serif;
$c-button-color: #ad7d59;
$numbers-color: #000;
$keys-color: #c1beae;
$operation-colors: #f1ece6;
$eq-color: #2a4934;
$border-color: #000;
$align: center;
$font: 'Crete Round', serif;

/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: $primary-font;
}

h1 {
    text-align: center;
    color: white;
    font-family: $font;
    font-size: 2rem;
    letter-spacing: 4px;
}

footer {
    max-width: 720px;
    margin: 0 auto;
}

@media (max-width: 720px) {
    footer {
        max-width: 100%;
        margin: 0;
    }
}

hr {
    width: 150px;
}

p {
    font-size: 1.2rem;
    text-align: center;
    margin: 5px;
}
/* Calculadora */
.calc {
    width: 500px;
    margin: 45px auto;
    border-radius: 5px;
    border: 1px solid $border-color;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(91, 91, 91);
}

@media (max-width: 768px) {
    .calc {
        width: 450px;
        margin: 20px auto;
    }
}

@media (max-width: 480px) {
    .calc {
        width: 200px;
        margin: 10px auto;
        padding: 10px;
    }
}

.calc__input {
    width: 490px;
    height: 50px;
    display: block;
    margin: 15px auto;
    font-size: 30px;
    border-radius: 5px;
    text-align: right;
    caret-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset,
        0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
    border: 2px solid $border-color;
    background-color: white;
    color: $numbers-color;
    letter-spacing: 3px;
}

@media (max-width: 768px) {
    .calc__input {
        width: 420px;
        margin: 20px auto;
    }
}
@media (max-width: 480px) {
    .calc__input {
        width: 100%;
        height: 30px;
        margin: 10px auto;
        padding: 10px;
    }
}

.calc__firstgroup {
    display: flex;
    padding: 2px 4px;
}

.calc__clear {
    width: 52%;
    height: 65px;
    background-color: $c-button-color;
    font-size: 16px;
    color: $numbers-color;
    cursor: pointer;
    border-radius: 5px;
    caret-color: transparent;
    margin: 0.6px;
    text-align: $align;
    border: 2px solid $border-color;
    font-weight: bold;
}

.calc__group-numbers {
    display: flex;
    padding: 2px 4px;
    padding-top: 0;
}

.calc__numbers {
    width: 25%;
    height: 65px;
    color: $numbers-color;
    background-color: $keys-color;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    caret-color: transparent;
    margin: 0.6px;
    text-align: $align;
    border: 2px solid $border-color;
    font-weight: bold;
}

.calc__operations {
    width: 25%;
    cursor: pointer;
    background-color: $operation-colors;
    color: $numbers-color;
    font-size: 26px;
    border-radius: 5px;
    caret-color: transparent;
    border: 2px solid $border-color;
    text-align: $align;
    font-weight: bold;
}

.calc__del {
    width: 25%;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 0.6px;
    caret-color: transparent;
    font-weight: bold;
    text-align: center;
    background-color: $operation-colors;
    border: 2px solid $border-color;
    color: $numbers-color;
}

.calc__eq {
    background-color: $eq-color;
    width: 52%;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    caret-color: transparent;
    margin: 0.6px;
    border: 2px solid $border-color;
    text-align: $align;
    font-weight: bold;
}

.footer__icon {
    text-align: center;
}

.footer__icon i {
    font-size: 2rem;
    color: #000;
}

.footer__icon a {
    padding: 5px;
}
